.carousel-item{
    margin: 20px 40px;
}
.middle{
    text-align: center;
}
.container{
    margin-bottom: 100px;
}
.foot{
    text-align: center;
}
footer{
    text-align: center;
}









